<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!-- servlet for adding plane -->
    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>app.controller.servlets.AddPlaneServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <!-- servlet for showing all planes -->
    <servlet>
        <servlet-name>list</servlet-name>
        <servlet-class>app.controller.servlets.ListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>list</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>

    <!-- servlet for clearing all planes -->
    <servlet>
        <servlet-name>clear</servlet-name>
        <servlet-class>app.controller.servlets.ClearListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>clear</servlet-name>
        <url-pattern>/clear</url-pattern>
    </servlet-mapping>

    <!-- servlet for deleting plane -->
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>app.controller.servlets.DeletePlaneServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <!-- servlet for sorting planes by time -->
    <servlet>
        <servlet-name>sortByTime</servlet-name>
        <servlet-class>app.controller.servlets.SortByTimeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sortByTime</servlet-name>
        <url-pattern>/sortByTime</url-pattern>
    </servlet-mapping>

    <!-- servlet for search city -->
    <servlet>
        <servlet-name>searchCity</servlet-name>
        <servlet-class>app.controller.servlets.SearchCityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchCity</servlet-name>
        <url-pattern>/searchCity</url-pattern>
    </servlet-mapping>
</web-app>